/* hide up and down arrows in input fields
 Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield !important;
}

@font-face {
  font-family: "gotham";
  src: url("../fonts/iCiel-Thin.woff") format("woff"),
    url("../fonts/iCiel-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "baku";
  src: url("../fonts/HomepageBaukasten-Book.woff") format("woff"),
    url("../fonts/HomepageBaukasten-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "gotham";
  background-color: #ededed;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.material-icons {
  font-family: "Material Icons";
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 90px;
}

.mainTitle {
  font-size: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.navigationOptions {
  display: flex;
  flex-direction: row;
  width: 450px;
  justify-content: space-between;
  height: 100%;
}

.option {
  font-size: 32px;
  transition: all 0.3s ease-in-out;
}

.option > div {
  display: flex;
  align-items: center;
  height: 100%;
  transition: inherit;
}

.option:hover,
.option:hover > div {
  background-color: #194872;
  color: white;
}

.option:visited {
  color: black;
}

.option:active,
.option:active > div {
  color: black;
  background-color: #f5bf2b;
}

.cart {
  justify-content: center;
  width: 60px;
}

.cartIndicatorHidden {
  visibility: hidden;
  width: 20px;
}

.cartIndicator {
  width: 20px;
  height: 20px;
  position: relative;
  left: 30px;
  top: -40px;
  background-color: #f5bf2b;
  color: black;
  border-radius: 20%;
  font-family: "baku";
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
}

.option > .cartIndicator {
  height: 20px;
}

.mainDisplay {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 50px;
  height: 100%;
  min-height: 800px;
  width: 100%;
  background-color: #ededed;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.about,
.faq {
  width: 70%;
  margin-top: 5%;
}

.speech {
  font-size: 50px;
}

.aboutSpeech {
  font-size: 30px;
  text-align: justify;
  line-height: 40px;
}

.QandAContainer {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.faqQuestion {
  font-size: 35px;
  margin-bottom: 20px;
}

.faqSpeech {
  font-size: 20px;
  text-align: justify;
}

.cardsGrid {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 500px);
  column-gap: 30px;
  row-gap: 30px;
  background-color: #ededed;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 285px;
  height: 485px;
  box-shadow: 2px 1px 1px gray;
  border-radius: 10px 5px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.cardContainer:hover {
  box-shadow: 4px 4px 4px 4px gray;
}

.cardContainer:hover .addToCartButton {
  visibility: visible;
}

.addToCartButton {
  visibility: hidden;
  position: relative;
  width: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 2%;
  left: 82%;
  color: #194872;
  background-color: white;
  border: solid 0.25px white;
  border-radius: 20%;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.addToCartButton:hover {
  background-color: #194872;
  border: solid 0.25px #194872;
  color: white;
}

.addToCartButton:active {
  background-color: #f5bf2b;
  border: solid 0.25px #f5bf2b;
  color: black;
}

.cardUpperSide {
  border-bottom: solid 0.25px rgb(194, 194, 194);
}

.imageContainer {
  width: 285px;
  height: 285px;
}

.cardImage {
  width: 100%;
  height: 100%;
  border-radius: 10px 5px;
}

.cardBottomSide {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: "baku";
}

.price {
  height: 35%;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 20px;
}

.description {
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.gotoShopMessage {
  font-size: 40px;
  margin-top: 200px;
}

.cartGrid {
  background-color: white;
  box-shadow: 1px 1px 1px 1px gray;
  width: 60%;
  margin-bottom: 30px;
}

.cartItemContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  font-family: "baku";
}

.cartItemUpperSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 75%;
  gap: 30px;
}

.cartImageContainer {
  width: 10%;
  margin-left: 5%;
  cursor: pointer;
}

.cartCardImage {
  width: 100%;
  height: 100%;
}

.cartItemMiddle {
  width: 50%;
  cursor: pointer;
}

.cartDescription {
  font-size: 24px;
  margin-bottom: 10px;
}

.cartPrice {
  color: grey;
  font-size: 18px;
}

.cartInputButtonsContainer {
  display: flex;
  flex-direction: row;
  width: 15%;
  height: 40px;
  justify-content: space-evenly;
  border: solid 0.25px rgb(220, 220, 220);
  border-radius: 5%;
}

.oneMoreItemButton,
.oneLessItemButton {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #194872;
}

.oneMoreItemButton:hover,
.oneLessItemButton:hover {
  color: #f5bf2b;
}

.cartInput {
  width: 40px;
  text-align: center;
  border: none;
  font-size: 18px;
}

.subtotalPrice {
  font-size: 35px;
  width: 25%;
  text-align: end;
  margin-right: 50px;
}

.cartItemBottomSide {
  width: 100%;
  height: 25%;
  border-bottom: solid 0.25px rgb(220, 220, 220);
  color: #194872;
}

.deleteItemButton {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin-left: 16%;
}

.deleteItemButton:hover {
  color: #f5bf2b;
}

.totalAmountContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: flex-end;
  font-size: 40px;
  font-family: "baku";
}

.totalAmountText {
  margin-right: 50px;
}

.totalAmount {
  margin-right: 50px;
}

.paymentContainer {
  font-family: "baku";
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 30px;
  border-radius: 20%;
}

.paymentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 240px;
  margin-right: 50px;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  border: solid 0.25px #f5bf2b;
  color: black;
  background-color: #f5bf2b;
}

.paymentButton:hover {
  border: solid 0.25px #ffd359;
  background-color: #ffd359;
}

.paymentButton:active {
  color: black;
  border: solid 0.25px #d1a323;
  background-color: #d1a323;
}

.shopItemContainer {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 800px;
  font-family: "baku";
}

.shopItemUpperSide {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  align-items: center;
}

.shopItemUpperSideButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: #194872;
}

.shopItemBackButton {
  margin-right: 5px;
}

.shopItemUpperSideButtons:hover {
  color: #f5bf2b;
}

.shopItemMain {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.shopItemImageContainer {
  width: 60%;
  border: solid 0.25px grey;
  background-color: white;
}

.shopItemImage {
  width: 100%;
  height: 100%;
}

.shopItemRightSide {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-evenly;
  margin-left: 100px;
}

.shopItemDescription {
  font-size: 40px;
}

.shopItemPrice {
  font-size: 40px;
}

.blueButton {
  align-self: center;
  width: 200px;
  height: 60px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  border: solid 0.25px #194872;
  color: white;
  background-color: #194872;
}

.blueButton:hover {
  border: solid 0.25px #296fac;
  background-color: #296fac;
}

.blueButton:active {
  border: solid 0.25px #f5bf2b;
  color: black;
  background-color: #f5bf2b;
}

.bottomBar {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  color: black;
}

.bottomBarOptions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottomBarOptions > .option {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
}
