body {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.material-icons {
  font-family: "Material Icons";
}

.navBar {
  display: flex;
  flex-direction: row;
  min-height: 40px;
  justify-content: space-around;
}

.mainTitle {
  min-width: 500px;
  font-size: 30px;
}

.navigationOptions {
  display: flex;
  flex-direction: row;
  min-width: 250px;
  min-height: 40px;
  justify-content: space-around;
}

.option {
  background-color: rgb(220, 220, 220);
  color: black;
}
.option:hover {
  background-color: #194872;
}
.option:hover > .option {
  color: white;
}
.option:visited {
  color: black;
}
.option:active {
  background-color: white;
}
.option:active > .option {
  background-color: white;
  color: black;
}

.cartIndicatorHidden {
  visibility: hidden;
}

.cartIndicator {
  width: 20px;
  height: 20px;
  position: relative;
  background-color: orange;
  color: #194872;
  border-radius: 20%;
  text-align: center;
}

.cardsGrid {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 450px);
  column-gap: 40px;
  row-gap: 40px;
  background-color: #ededed;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 245px;
  height: 445px;
  box-shadow: 2px 1px 1px gray;
  border-radius: 10px 5px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.cardContainer:hover {
  box-shadow: 4px 4px 4px 4px gray;
}

.cardContainer:hover .addToCartButton {
  visibility: visible;
}

.addToCartButton {
  visibility: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 190px;
}

.cardUpperSide {
  border-bottom: solid 0.25px grey;
}

.imageContainer {
  width: 245px;
  height: 275px;
}

.cardImage {
  width: 245px;
  height: 275px;
  border-radius: 10px 5px;
}

.cardBottomSide {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.price {
  height: 40%;
  font-size: 24px;
  margin-left: 20px;
}

.description {
  font-size: 13px;
  margin-left: 20px;
  margin-right: 20px;
}

.cartItemContainer {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 250px;
  border: solid 1px black;
}

.cartItemUpperSide {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
  border: solid 1px green;
}

.cartImageContainer {
  width: 80px;
  height: 80px;
}

.cartCardImage {
  width: 100%;
  height: 100%;
}

.cartPrice {
  color: grey;
  font-size: 12px;
}

.cartInputButtons {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.cartInputContainer {
  width: 50px;
  height: 50px;
}

.cartInput {
  width: 40px;
}

.subtotalPrice {
  font-size: 26px;
}

.cartItemBottomSide {
  width: 100%;
  height: 10%;
  border: solid 1px red;
}

.deleteItemButton {
  width: 30px;
  height: 30px;
}

.bottomBar {
  background-color: rgb(220, 220, 220);
  color: black;
  display: flex;
  justify-content: space-around;
}
